@model   Shop.Models.ItemListViewListModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/SellsLayOut.cshtml";

}
<div class="row panel ">
@using (Html.BeginForm("SearchByName", "SellItems"))
{
    <div class="col-lg-6"></div>
    <div class="col-lg-4">

        @Html.TextBoxFor(m => Model.SearchString, new { @class = "form-control  " })
    </div>
    <div class="col-lg-2">
        <button class="btn btn-default text-primary" type="submit"><span>بحث</span></button>

    </div>

}
    </div>
<div class="row ">
    @foreach (var item in Model.Items)
    {
        <div class="col-lg-4">
            @Html.Partial("ItemSummery", item)
        </div>
    }
</div>

    <div class="btn-group pull-right">
        @*@Html.pageLinks(Model.paginginfo, x => Url.Action("List", "SellItems", new { PageNum = x, CatigoryId = Model.CurrentCatigoryId }))*@

    </div>
